[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
pandas = "*"
scikit-network = "*"
scikit-learn = "*"
seaborn = "*"
matplotlib = "*"
networkx = "*"
scipy = "*"
tqdm = "*"
backbone-network = "*"

[dev-packages]

[requires]
python_version = "3.8"
